.contact__wrapper {
    margin-top: 2rem;
    border-radius: 20px;
    background-color: #FFDDD2;
    border: 4px solid black;
  }
  .contact__heading{
    font-weight: bold;
    font-weight: 60px;
    margin-bottom: 40px;
    font-size: 20px;
  }
  .contact__padding{
    padding: 2rem;
    font-family: var(--font-alt);
  }
  .contact__box img{
    width: 40px;
    border-radius: 100%;
    margin: 1px;
  }
  .social__wrap{
    display: flex;
  }
  @media screen and (max-width: 700px){
    .contact__padding{
      padding: 1.5rem;
    }
    .contact__box img{
      width: 35px;
    }
    .contact__heading{
      font-size: 16px;
    }
  }
  @media screen and (max-width: 450px){
    .contact__padding{
      padding: 1rem;
    }
    .contact__box img{
      width: 30px;
    }
    .contact__heading{
      font-size: 16px;
    }
  }