::-webkit-scrollbar{
	width: 12px;
}
::-webkit-scrollbar-track{
	background-color: #FFDDD2;

}
::-webkit-scrollbar-thumb{
	background: lightcyan;
	border: 1px solid #000;
	border-radius: 20px;
	box-shadow: #6b9832 10px -20px 30px 0px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #FFDDD2;
	border: 1px solid #000;
}
